doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= Detail
    link(rel='stylesheet', href='../style/reset.css')
    link(rel='stylesheet', href='../style/detail.css')
  body
    div.infopanel
    script(type='text/javascript', src='../script/Chart.min.js')
    script(type='text/javascript', src='../script/planetsMetadata.js')
    script(type='text/javascript', src='../script/detail.js')